<html>
<head>
<title>Ruby Hangman</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background: orange;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .alpha-buttons {
      font-size: 1em;
      margin-top: 2px;
      height: 2em;
      width: 2.5em;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="main-content">
      <h1>Hangman</h1>
       <%@session[:clicked_char]%>
       <%@session[:clicked_chars] << @session[:clicked_char]%>
       <%=@session[:clicked_chars].uniq.compact%>
      <h2><%= @session[:rand_word] %></h2>
      <h2><%= @session[:display] %></h2>
      <form>
      <p>
      <% chars = ('a'..'z').to_a %>
      <% chars.each do |char|%>
      <% if @session[:clicked_chars].include?(char) %>
        <a style="visibility: hidden;"href="<%=char%>"><input class="alpha-buttons" type="button" value="<%=char%>"></a>
        <% else %>
        <a href="<%=char%>"><input class="alpha-buttons" type="button" value="<%=char%>"></a>
        <% end %>
        <% end %>
       </p>
       </form>
       <p>
       </p>
    </div>
  </div>
</body>
</html>